= form_for [@user, @message], url: send_mail_user_messages_url(@user), authenticity_token: true, remote: true, html: { multipart: true } do |f|
  = f.hidden_field :from, value: @user.email
  = f.hidden_field :user_id, value: @user.id
  - if @message.errors.any?
    .alert.bg-danger.alert-styled-left
      %button.close{ data: { dismiss: 'alert' } }
        %span &times;
        %span.sr-only Закрыть
      %h4
        Исправьте ошибки и попробуйте снова. Ошибок:
        - attachment_errors = 0
        - @message.attachments.each { |attachment| attachment_errors += attachment.errors.count }
        = @message.errors.count + attachment_errors
      %ul
        - @message.errors.full_messages.each do |msg|
          %li
            = msg
        - if @message.attachments.any?
          - @message.attachments.each do |attachment|
            - attachment.errors.full_messages.each do |msg|
              %li
                = msg
  .mb-10
    = f.submit 'Отправить', class: 'btn btn-success'
    %span.ml-5
    письмо от
    = link_to "#{@user.email} (#{@user.first_name} #{@user.last_name})", user_path(@user)
  .form-group
    = f.label :to, 'Кому'
    = f.text_field :to, class: 'form-control', required: true
  .form-group
    = f.label :subject, 'Тема'
    = f.text_field :subject, class: 'form-control'
  .form-group
    = f.cktext_area :body, class: 'form-control'
  .form-group
    = file_field_tag "attachments[]", type: :file, multiple: true, class: 'form-control'
  .form-group
    = f.submit 'Отправить', class: 'btn btn-success'