- if @comments.present?
  .timeline.timeline-left.content-group.mt-20
    .timeline-container
      - @comments.each do |comment|
        - case comment.comment_type
        - when 'message'
          .timeline-row
            .timeline-icon
              .bg-info-400
                %i.icon-comment
            .panel.panel-flat.timeline-content
              .panel-heading
                .panel-title
                  Комментарий от
                  = image_tag(comment.user.avatar(:thumb), class: "img-circle")
                  = link_to user_path(comment.user) do
                    #{comment.user.first_name} #{comment.user.last_name}
                .heading-elements
                  %span.heading-text
                    %i.icon-history.position-left.text-success
                    Добавлен
                    = time_ago_in_words(comment.created_at)
                    назад
                  %ul.icons-list
                    %li
                      %a{"data-action" => "reload"}
              .panel-body.text-semibold
                = comment.body
        - when 'commercial_prop'
          .timeline-row
            .timeline-icon
              .bg-success-800
                %i.icon-cash
            .panel.panel-flat.timeline-content
              .panel-heading
                .panel-title
                  Коммерческое предложение -
                  = image_tag(comment.user.avatar(:thumb), class: "img-circle")
                  = link_to user_path(comment.user) do
                    #{comment.user.first_name} #{comment.user.last_name}
                .heading-elements
                  %span.heading-text
                    %i.icon-history.position-left.text-success
                    Добавлено
                    = time_ago_in_words(comment.created_at)
                    назад
                  %ul.icons-list
                    %li
                      %a{"data-action" => "reload"}
              .panel-body.text-semibold
                = comment.body
        - when 'phone_call'
          .timeline-row
            .timeline-icon
              .bg-success-400
                %i.icon-phone2
            .panel.panel-flat.timeline-content
              .panel-heading
                .panel-title
                  Звонок клиенту -
                  = image_tag(comment.user.avatar(:thumb), class: "img-circle")
                  = link_to user_path(comment.user) do
                    #{comment.user.first_name} #{comment.user.last_name}
                .heading-elements
                  %span.heading-text
                    %i.icon-history.position-left.text-success
                    Добавлено
                    = time_ago_in_words(comment.created_at)
                    назад
                  %ul.icons-list
                    %li
                      %a{"data-action" => "reload"}
              .panel-body.text-semibold
                = comment.body