/ 2 columns form
= form_for [:admin, @department] do |f|
  - if @department.errors.any?
    .alert.bg-danger.alert-styled-left
      %button.close{ data: { dismiss: 'alert' } }
        %span &times;
        %span.sr-only Закрыть
      %h4
        Исправьте ошибки и попробуйте снова. Ошибок: 
        = @department.errors.count
      %ul
        - @department.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      %fieldset
        %legend.text-semibold
          %i.icon-reading.position-left
          Регистрационные данные
        .row
          .col-md-12
            .form-group
              = f.label :name, 'Название'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :name, class: 'form-control', placeholder: 'Сервус Поділля'
            .form-group
              = f.label :city, 'Город'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :city, class: 'form-control', placeholder: 'Киев'
            .form-group
              = f.label :address, 'Адрес офиса'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :address, class: 'form-control', placeholder: 'ул.Героев Майдана, 1'
            .form-group
              = f.label :email, 'Электронная почта'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :email, class: 'form-control', placeholder: 'office@servus.km.ua'
            .form-group
              = f.label :facebook, 'Facebook'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :facebook, class: 'form-control', placeholder: 'https://www.facebook.com/servuspodillya'
            .form-group
              = f.label :vkontakte, 'Vkontakte'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :vkontakte, class: 'form-control', placeholder: 'https://vk.com/servuspodillya'
            .form-group
              = f.label :website, 'Сайт'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-user
                = f.text_field :website, class: 'form-control', placeholder: 'servus.km.ua'
            .form-group
              = f.label :avatar, 'Аватар (300х300px)'
              = f.file_field :avatar, class: 'file-styled-primary'
  .text-left
    = f.submit 'Сохранить', class: 'btn btn-success'
/ /2 columns form
