.dropdown-content-heading
  Уведомления
%ul.media-list.dropdown-content-body.width-350
  - @notifications.each do |notification|
    %li.media
      .media-left
        - if notification.notifiable.is_a?(Lead)
          .cursor-default.btn.border-info.text-info.btn-flat.btn-rounded.btn-icon.btn-sm
            %i.icon-user-plus
        - if notification.notifiable.is_a?(Contact)
          .cursor-default.btn.border-success.text-success.btn-flat.btn-rounded.btn-icon.btn-sm
            %i.icon-user-plus
      .media-body
        = link_to user_path(notification.actor) do
          #{notification.actor.first_name} #{notification.actor.last_name}
        #{notification.action}
        - if notification.notifiable.is_a?(Lead)
          лид
          = link_to lead_path(notification.notifiable) do
            #{notification.notifiable.name}
        - if notification.notifiable.is_a?(Contact)
          контакт
          = link_to contact_path(notification.notifiable) do
            #{notification.notifiable.name}
        .media-annotation #{time_ago_in_words(notification.notifiable.created_at)} назад
.dropdown-content-footer
  = link_to notifications_path, data: {popup: 'tooltip'}, title: "Все уведомления" do
    %i.icon-menu.display-block