.content
  / User profile
  .row
    .col-lg-3
      / User thumbnail
      .thumbnail
        .thumb.thumb-rounded.thumb-slide
          = image_tag(@user.avatar.url(:medium), alt: 'user profile')
        .caption.text-center
          %h6.text-semibold.no-margin
            #{@user.first_name} #{@user.last_name}
            - if @user.admin?
              %span.label.label-primary Admin
            %small.display-block
              - @memberships.each do |membership|
                = t("membership.role.#{membership.role}")
                в #{membership.department.name}
                %br
      / /user thumbnail
      - if @user == current_user 
        / Navigation
        .panel.panel-flat
          .panel-heading
            %h6.panel-title Меню
          .list-group.no-border.no-padding-top
            = link_to @user, class: "list-group-item" do
              %i.icon-profile
              Мой профиль
            = link_to user_leads_path, class: "list-group-item" do
              %i.icon-users2
              Мои лиды
            = link_to user_contacts_path, class: "list-group-item" do
              %i.icon-users
              Мои контакты
            = link_to user_departments_path(@user.id), class: "list-group-item" do
              %i.icon-office
              Отделы
            = link_to user_messages_path(@user.id), class: "list-group-item" do
              %i.icon-envelop3
              Сообщения
            %a.list-group-item{:href => "#"}
              %i.icon-task
              Задачи
              %span.badge.bg-info.pull-right в разработке
            .list-group-divider
            %a.list-group-item{:href => "#"}
              %i.icon-calendar3
              События
              %span.badge.bg-info.pull-right в разработке
            = link_to user_settings_path(@user.id), class: "list-group-item" do
              %i.icon-cog3
              Настройки аккаунта
        / /navigation
    = yield