.content
  / User profile
  .row
    .col-lg-3
      / User thumbnail
      .thumbnail
        .thumb.thumb-rounded.thumb-slide
          = image_tag(@user.avatar.url(:medium), alt: 'user profile')
        .caption.text-center
          %h6.text-semibold.no-margin
            #{@user.first_name} #{@user.last_name}
            - if @user.admin?
              %span.label.label-primary Admin
            %small.display-block
              - @memberships.each do |membership|
                #{membership.role} в #{membership.department.name}
                %br
      / /user thumbnail
    .col-lg-9
      .panel.panel-flat
        .panel-body
          .row
            .col-md-12
              .table-responsive
                %table.table
                  %thead
                    %tr.alpha-grey
                      %th.text-uppercase{ 'colspan' => '2'}
                        Контактные данные
                  %tbody
                    %tr
                      %td.col-md-3 Электронная почта
                      %td.col-md-9 #{@user.email}
                    %tr
                      %td.col-md-3 Телефон
                      %td.col-md-9 #{@user.phone}
                    %tr
                      %td.col-md-3 Skype
                      %td.col-md-9 #{@user.skype}
