/ Main content
.content-wrapper
  / Page header
  / Basic daterange picker
  .content-group.border-top-lg.border-top-primary
    .page-header.page-header-default{:style => "border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}
      .page-header-content
        .page-title
          %h5
            %i.icon-users.position-left
            %span.text-semibold Лиды
            %small.display-block Холодные контакты
        .heading-elements
          = link_to new_lead_path do
            %button.btn.btn-success.heading-btn{:type => "button"}
              %i.icon-plus3.position-left
              Создать лид
          %button.btn.btn-info.daterange-ranges.heading-btn{:type => "button"}
            %i.icon-calendar2.position-left
            %span
            %b.caret
      .breadcrumb-line
        %ul.breadcrumb
          %li
            %a{:href => "index.html"}
              %i.icon-home2.position-left
              Home
          %li
            %a{:href => "components_page_header.html"} Current
          %li.active Location
    /basic daterange picker
  .content
    / Basic datatable
    .panel.panel-flat
      .panel-heading
        %h5.panel-title Список лидов
        .heading-elements
          %ul.icons-list
            %li
              %a{"data-action" => "collapse"}
            %li
              %a{"data-action" => "reload"}
            %li
              %a{"data-action" => "close"}
      .panel-body
      %table.table.datatable-basic
        %thead
          %tr
            %th Статус
            %th Имя
            %th Номер телефона
            %th e-mail
            %th Регион
            %th Добавлен
            %th.text-center Действия
        %tbody
          - @leads.each do |lead|
            %tr
              %td 
                // - if lead.status.nil?
                //   %span.label.label-default Закрыт
                // - if lead.status == 'newly'
                //   %span.label.label-warning Новый
                // - if lead.status == 'converted'
                //   %span.label.label-success Конвертирован
                - case lead.status
                - when 'newly'
                  %span.label.label-warning Новый
                - when 'closed'
                  %span.label.label-default Закрыт
                - when 'converted'
                  %span.label.label-success Конвертирован
                - when 'sended'
                  %span.label.label-info Передан в ГО
              %td 
                = link_to "#{lead.name}", lead_path(lead)
              %td #{lead.phone}
              %td #{lead.email}
              %td #{lead.location}
              %td #{time_ago_in_words(lead.created_at)} назад
              %td.text-center
                %ul.icons-list
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %i.icon-menu9
                    %ul.dropdown-menu.dropdown-menu-right
                      %li
                        %a{:href => "#"}
                          %i.icon-spinner11
                          Конвертировать
                      %li
                        %a{:href => "#"}
                          %i.icon-cross2
                          Закрыть
                      %li
                        %a{:href => "#"}
                          %i.icon-users2
                          Делегировать
                      %li
                        %a{:href => "#"}
                          %i.icon-envelope
                          Отправить почтой
      / /basic datatable