/ Main content
.content-wrapper
  / Page header
  / Basic daterange picker
  .content-group.border-top-lg.border-top-primary
    .page-header.page-header-default{:style => "border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}
      .page-header-content
        .page-title
          %h5
            %i.icon-users.position-left
            %span.text-semibold Лиды
            %small.display-block Холодные контакты
        .heading-elements
          = link_to new_lead_path do
            %button.btn.btn-success.heading-btn{:type => "button"}
              %i.icon-plus3.position-left
              Создать лид
          %button.btn.btn-info.daterange-ranges.heading-btn{:type => "button"}
            %i.icon-calendar2.position-left
            %span
            %b.caret
      .breadcrumb-line
        %ul.breadcrumb
          %li
            %a{:href => "index.html"}
              %i.icon-home2.position-left
              Home
          %li
            %a{:href => "components_page_header.html"} Current
          %li.active Location
    /basic daterange picker
  .content
    / Basic datatable
    .panel.panel-flat
      .panel-heading
        %h5.panel-title Список лидов
        .heading-elements
          %ul.icons-list
            %li
              %a{"data-action" => "collapse"}
            %li
              %a{"data-action" => "reload"}
            %li
              %a{"data-action" => "close"}
      .panel-body
        = params[:statuses]
        = form_tag leads_path, method: :get do
          .form-group
            = label :status, 'Статус', class: 'display-block text-semibold'
            = label_tag :newly, class: 'checkbox-inline' do
              = check_box_tag 'statuses[]', '0', true, class: 'styled', id: 'newly'
              Новый статус
            = label_tag :closed, class: 'checkbox-inline' do
              = check_box_tag 'statuses[]', '1', true, class: 'styled', id: 'closed'
              Закрыт
            = label_tag :converted, class: 'checkbox-inline' do
              = check_box_tag 'statuses[]', '2', true, class: 'styled', id: 'converted'
              Конвертирован
            = label_tag :sended, class: 'checkbox-inline' do
              = check_box_tag 'statuses[]', '3', true, class: 'styled', id: 'sended'
              Передан в ГО
            = label_tag :repeated, class: 'checkbox-inline' do
              = check_box_tag 'statuses[]', '4', true, class: 'styled', id: 'repeated'
              Повторно
        = render 'leads_table'