/ Page header
.page-header
  .content-group
    .page-header.page-header-default.page-header-lg{:style => "border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}
      .page-header-content
        .page-title
          %h4
            %i.icon-vcard.position-left
            %span.text-semibold Отправка лида почтой
        .heading-elements
  .content
    / 2 columns form
    .panel.panel-flat
      .panel-heading
        %h5.panel-title
        .heading-elements
          %ul.icons-list
            %li
              %a{"data-action" => "collapse"}
            %li
              %a{"data-action" => "reload"}
            %li
              %a{"data-action" => "close"}
      .panel-body
        - if @lead.region.blank? || @lead.source.blank?
          Перед отправкой лида
          = link_to @lead.name, lead_path(@lead)
          заполните следующие поля:
          %ul.mt-10.mb-10
            - if @lead.source.blank?
              %li Откуда узнал про нас
            - if @lead.region.blank?
              %li Регион
          = link_to "Перейти к редактированию", edit_lead_path(@lead), class: 'btn btn-success'
        - else
          = form_tag send_lead_to_email_url, method: :get do |f|
            .row
              .col-md-3
                %fieldset
                  %legend.text-semibold
                    Отправить лид на почту:
                  .form-group
                    .input-group
                      %span.input-group-addon
                        .icon-paperplane
                      = email_field_tag :send_to_email, '', class: 'form-control', required: true, placeholder: 'Введите email'
                  .mb-20.mt-10
                    %span.btn.btn-info#send-mail-button-lev lev-servus@mail.ru
                    %span.btn.btn-info#send-mail-button-ysg ysg7777@yandex.ua
            .text-left
              = submit_tag 'Отправить', class: 'btn btn-success'
