/ Page header
.page-header  
  .content-group
    .page-header.page-header-default{:style => "border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}
      .page-header-content
        .page-title
          %h4
            %i.icon-user.position-left
            %span.text-semibold Карточка лида - #{@lead.name}
        .heading-elements
          = link_to 'Редактировать', edit_lead_path, class: 'btn btn-success'
          = link_to 'Удалить', lead_path(@lead), method: :delete, data: {confirm: "Удалить этот лид навсегда?"}, class: 'btn btn-danger'
.content
  .row
    .col-md-12
      .panel.panel-flat
        .panel-heading
          .heading-elements
            %ul.icons-list
              %li
                %a{"data-action" => "collapse"}
              %li
                %a{"data-action" => "reload"}
              %li
                %a{"data-action" => "close"}
        .panel-body
          .jui-tabs-basic
            %ul
              %li
                %a{:href => "#tabs-basic-1"}
                  Информация
              %li
                %a{:href => "#tabs-basic-2"}
                  Подробнее
              %li
                %a{:href => "#tabs-basic-3"}
                  Связанные контакты
                  - if @lead.related_contacts.count > 0
                    %span.badge.badge-info.position-right
                      = @lead.related_contacts.count
            #tabs-basic-1
              .row
                .col-md-4
                  %table.table.table-lead-info.table-sm
                    %tbody
                      %tr
                        %td.col-md-1.text-bold Имя:
                        %td.col-md-2 #{@lead.name}
                      %tr
                        %td.col-md-1.text-bold Телефон:
                        %td.col-md-2 #{@lead.phone}
                      %tr.border-bottom.border-bottom-green-300
                        %td.col-md-1.text-bold e-mail:
                        %td.col-md-2 #{@lead.email}
                .col-md-3
                .col-md-5
                  %table.table.table-lead-info.table-sm.table-borderless
                    %tbody
                      - if @lead.user.present?
                        %tr
                          %td.text-right Добавил
                          %td
                            %ul.media-list
                              %li.media
                                .media-left.media-middle
                                  = link_to user_path(@lead.user) do
                                    = image_tag @lead.user.avatar.url(:thumb), class: "img-circle"
                                .media-body
                                  .media-heading.text-semibold #{@lead.user.first_name} #{@lead.user.last_name}
                                  = link_to user_path(@lead.user) do
                                    %span.text-muted Профиль
                      - if @lead.assignee.present?
                        %tr
                          %td.text-right Ответственный
                          %td
                            %ul.media-list
                              %li.media
                                .media-left.media-middle
                                  = link_to user_path(@lead.assignee) do
                                    = image_tag @lead.assignee.avatar.url(:thumb), class: "img-circle"
                                .media-body
                                  .media-heading.text-semibold #{@lead.assignee.first_name} #{@lead.assignee.last_name}
                                  = link_to user_path(@lead.assignee) do
                                    %span.text-muted Профиль
            #tabs-basic-2
              .row
                .col-md-6
                  %table.table.table-framed
                    %tbody
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Сообщение клиента:
                        %td.col-md-2 #{@lead.question}
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Проект:
                        %td.col-md-2 #{@lead.project}
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Площадь:
                        %td.col-md-2 #{@lead.square}
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Этажность:
                        %td.col-md-2 #{@lead.floor}
                .col-md-6
                  %table.table.table-framed
                    %tbody
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Как вышел на связь:
                        %td.col-md-2
                          - if @lead.online_request
                            Сайт запрос
                          - if @lead.phone_call
                            Позвонил
                          - if @lead.come_in_office
                            Пришел в офис
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Откуда узнал:
                        %td.col-md-2 #{@lead.source}
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Место строительства:
                        %td.col-md-2 #{@lead.location}
                      %tr
                        %th.col-md-1.text-right.success
                          %strong Регион:
                        %td.col-md-2 #{@lead.region}
            #tabs-basic-3
              - if @lead.related_contacts.present?
                .table-responsive
                  %table.table.table-borderless
                    %thead
                      %tr
                        %th #
                        %th Контакт
                        %th Добавлен
                        %th Ответственный
                    %tbody
                      - @lead.related_contacts.each_with_index do |contact, index|
                        %tr
                          %td
                            = index + 1
                          %td
                            = link_to contact.name, contact
                          %td #{time_ago_in_words(contact.created_at)} назад
                          %td 
                            = link_to user_path(contact.assignee) do
                              = image_tag contact.assignee.avatar(:thumb), class: "img-circle"
                              #{contact.assignee.first_name} #{contact.assignee.last_name}
              - else
                Связанные контакты отсутствуют