/ 2 columns form
= form_for [@contact, @commercial_proposal] do |f|
  = f.hidden_field :user_id, value: current_user.id
  - if @commercial_proposal.errors.any?
    .alert.bg-danger.alert-styled-left
      %button.close{ data: { dismiss: 'alert' } }
        %span &times;
        %span.sr-only Закрыть
      %h4
        Исправьте ошибки и попробуйте снова. Ошибок:
        = @commercial_proposal.errors.count
      %ul
        - @commercial_proposal.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      %fieldset
        %legend.text-semibold
          %i.icon-info3.position-left
          Исходные данные
        .row
          .col-md-12
            .form-group
              = f.label :project_name, 'Проект'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-home2
                = f.text_field :project_name, class: 'form-control', placeholder: 'Проект "Амалия"', required: true
        .row
          .col-md-12
            .form-group
              = f.label :house_square, 'Площадь дома'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-rulers
                = f.number_field :house_square, class: 'form-control', placeholder: '133.02', step: 0.01, required: true
        .row
          .col-md-12
            .form-group
              = f.label :project_url, 'Ссылка на проект (скопировать из браузера и вставить)'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-link
                = f.text_field :project_url, class: 'form-control', placeholder: 'http://servus.km.ua/project/amaliya-138-67-m-kv', required: true
        .row
          .col-md-12
            .form-group
              = f.label :house_kit_price, 'Стоимость домокомплекта(в долларах)'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-coin-dollar
                = f.number_field :house_kit_price, class: 'form-control', placeholder: '9999', required: true
        .row
          .col-md-12
            .form-group
              = f.label :house_installation_price, 'Стоимость монтажа(в долларах)'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-coin-dollar
                = f.number_field :house_installation_price, class: 'form-control', placeholder: '9999', required: true
        .row
          .col-md-12
            .form-group
              = f.label :additional_services_price, 'Стоимость дополнительных работ(в долларах)'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-coin-dollar
                = f.number_field :additional_services_price, class: 'form-control', placeholder: '14999', required: true
        .row
          .col-md-12
            .form-group
              = f.label :discount, 'Скидка ($)'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-coin-dollar
                = f.number_field :discount, class: 'form-control', placeholder: '999'
        .row
          .col-md-12
            .form-group
              = f.label :dollar_exchange_rate, 'Курс доллара(для конвертации в грн.)'
              .input-group
                %span.input-group-addon.bg-green-600
                  .icon-reset
                = f.number_field :dollar_exchange_rate, class: 'form-control', placeholder: '26.5', step: 0.01, required: true
  .text-left
    = f.submit 'Сохранить', class: 'btn btn-success'
/ /2 columns form
