.content
  .row
    .col-md-12
      .panel.panel-flat
        .panel-heading
          %h5.panel-title Звонок контакту
          .heading-elements
            %ul.icons-list
              %li
                %a{"data-action" => "collapse"}
              %li
                %a{"data-action" => "reload"}
              %li
                %a{"data-action" => "close"}
        .panel-body
          .text-semibold.mt-10.mb-20
            После отправленного коммерческого предложения через 24 часа (но не позднее 72 часов)
            перезваниваем контакту что бы узнать не возникли ли какие-то вопросы. Результат разговора вносим в комментарий. 
          = form_for [@commentable, @comment] do |f|
            .form-group
              .input-group
                %span.input-group-addon
                  .icon-pencil
                = f.text_area :body, class: 'form-control', required: :true, placeholder: 'Комментарий'
                = f.hidden_field :user_id, value: @user.id
                = f.hidden_field :comment_type, value: 'phone_call'
            .text-left
              = link_to :back, class: 'btn btn-default' do
                %i.icon-circle-left2.position-left
                Вернуться назад
              = f.submit 'Добавить', class: 'btn btn-success ml-10'
