.content
  / User profile
  .row
    .col-lg-3
      / User thumbnail
      .thumbnail
        .thumb.thumb-rounded.thumb-slide
          = image_tag(@user.avatar.url(:medium), alt: 'user profile')
        .caption.text-center
          %h6.text-semibold.no-margin
            #{@user.first_name} #{@user.last_name}
            %small.display-block
              - @memberships.each do |membership|
                #{membership.role} в #{membership.department.name}
                %br
      / /user thumbnail
      / Navigation
      .panel.panel-flat
        .panel-heading
          %h6.panel-title Меню
        .list-group.no-border.no-padding-top
          = link_to user_profile_path(@user.id), class: "list-group-item" do
            %i.icon-user
            Мой профиль
          = link_to user_departments_path(@user.id), class: "list-group-item" do
            %i.icon-office
            Отделы
          %a.list-group-item{:href => "#"}
            %i.icon-envelop3
            Сообщения
            %span.badge.bg-info.pull-right в разработке
          %a.list-group-item{:href => "#"}
            %i.icon-task
            Задачи
            %span.badge.bg-info.pull-right в разработке
          .list-group-divider
          %a.list-group-item{:href => "#"}
            %i.icon-calendar3
            События
            %span.badge.bg-info.pull-right в разработке
          %a.list-group-item{:href => "#"}
            %i.icon-cog3
            Настройки аккаунта
      / /navigation
    .col-lg-9
      .panel.panel-flat
        .panel-heading
          %h5.panel-title Мои отделы
          .heading-elements
            %ul.icons-list
              %li
                %a{"data-action" => "collapse"}
              %li
                %a{"data-action" => "reload"}
              %li
                %a{"data-action" => "close"}
        .panel-body
          .row
            .col-md-12
              .table-responsive
                %table.table
                  %thead
                    %tr.alpha-grey
                      %th ОТДЕЛ
                      %th РОЛЬ
                  %tbody
                    - @memberships.each do |membership|
                      %tr
                        %td.col-md-6 #{membership.department.name}
                        %td.col-md-6 #{membership.role}
  / /user profile
