= render 'admin/dashboard/header'
.content
  / Basic datatable
  .panel.panel-flat
    .panel-heading
      %h5.panel-title Список пользователей
      .heading-elements
        %ul.icons-list
          %li
            %a{"data-action" => "collapse"}
          %li
            %a{"data-action" => "reload"}
          %li
            %a{"data-action" => "close"}
    .panel-body
      .row
        .col-md-12
          .btn-group.mb-20
            = link_to new_admin_user_path do
              %button.btn.btn-success.heading-btn{:type => "button"}
                %i.icon-plus3.position-left
                Добавить пользователя
      .row
        .col-md-12
          .table-responsive
            %table.table
              %thead
                %tr.bg-green
                  %th #
                  %th Пользователь
                  %th Эл. почта
                  %th Состоит в отделе
                  %th.text-center Действия
              %tbody
                - @users.each_with_index do |user, index|
                  %tr
                    %td
                      = index + 1
                    %td #{user.first_name} #{user.last_name}
                    %td #{user.email}
                    %td
                      - user.memberships.each do |membership|
                        .mb-5
                          %i.icon-office.position-left
                          = membership.department.name
                          %br
                    %td
                      = link_to become_user_path(user.id) do
                        %button.btn.bg-grey.btn-sm.btn-icon{"type" => "button", "data-popup" => "tooltip", "data-placement" => "left", "title" => "Войти как пользователь"}
                          %i.icon-play3
                      = link_to admin_user_path(user.id), method: :delete, data: { confirm: "Удалить пользователя навсегда?"} do
                        %button.btn.bg-grey.btn-sm.btn-icon{"type" => "button", "data-popup" => "tooltip", "data-placement" => "left", "title" => "Удалить пользователя"}
                          %i.icon-trash
