Новый лид
Имя: #{@lead.name}
Телефон: #{@lead.phone}
- if @lead.email.present?
  Электронная почта:#{@lead.email}
- if @lead.location.present?
  Где хочет строить: #{@lead.location}
- if @lead.question.present?
  Вопрос: #{@lead.question}
======================================
Строительная компания "Сервус Поділля". 
Энергосберегающие дома и коттеджи "под ключ"
г.Хмельницкий, ул.Героев Майдана, 1  
www.servus.km.ua
тел.(0382) 707-606 
моб.(098) 747-747-8