Новый лид
Имя: #{@lead.name}
Телефон: #{@lead.phone}
- if @lead.email.present?
  Электронная почта:#{@lead.email}
- if @lead.location.present?
  Где хочет строить: #{@lead.location}
- if @lead.question.present?
  Вопрос: #{@lead.question}
======================================
Строительная компания "Сервус Поділля".
Энергосберегающие дома и коттеджи "под ключ"
#{@lead.department.city}, #{@lead.department.address}
- if @lead.department.website.present?
  #{@lead.department.website}
тел.
= number_to_phone @lead.user.phone