!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'send_lead', media: 'all'
  %body
    %h2
      Новый лид
    %div
      %span.text-bold Имя: 
      = @lead.name
    %div
      %span.text-bold Телефон: 
      = @lead.phone
    - if @lead.email.present?
      %div
        %span.text-bold Электронная почта:
        = @lead.email
    - if @lead.location.present?
      %div
        %span.text-bold Где хочет строить: 
        = @lead.location
    - if @lead.question.present?
      %div
        %span.text-bold Вопрос: 
        = @lead.question
    %br
    %div
      Строительная компания "Сервус Поділля".
      %br
      Энергосберегающие дома и коттеджи "под ключ"
      %br
      #{@lead.department.city}, #{@lead.department.address}
      %br
      = link_to @lead.department.website, url_with_protocol(@lead.department.website), target: '_blank' if @lead.department.website.present?
      %br
      тел.
      = number_to_phone @lead.user.phone