- if current_user
  / Main navbar
  .navbar.navbar-default.navbar-fixed-top.header-highlight
    .navbar-header
      = link_to root_path, class: "navbar-brand" do
        = image_tag('logo_light', alt: "Uber CRM")
      %ul.nav.navbar-nav.pull-right.visible-xs-block
        %li
          %a{"data-target" => "#navbar-mobile", "data-toggle" => "collapse"}
            %i.icon-tree5
        %li
          %a.sidebar-mobile-main-toggle
            %i.icon-paragraph-justify3
    #navbar-mobile.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a.sidebar-control.sidebar-main-toggle.hidden-xs
            %i.icon-paragraph-justify3
      %ul.nav.navbar-nav.navbar-right
        - if current_user.admin?
          %li
            = link_to 'Admin', admin_path
        %li.dropdown
          = link_to message_notifications_path, class: "dropdown-toggle", id: 'message-notifications', remote: true, data: { toggle: "dropdown" } do
            %i.icon-envelop3.text-info-600
            %span.visible-xs-inline-block.position-right Сообщения
            - if @unread_message_notifications.count > 0
              %span.badge.bg-warning-400#message-notifications-counter #{@unread_message_notifications.count}
          .dropdown-menu.dropdown-content#message-notifications-dropdown
        %li.dropdown
          = link_to general_notifications_path, class: "dropdown-toggle", id: 'general-notifications', remote: true, data: { toggle: "dropdown" } do
            %i.icon-bell2
            %span.visible-xs-inline-block.position-right Уведомления
            - if @unread_general_notifications.count > 0
              %span.badge.bg-warning-400#general-notifications-counter #{@unread_general_notifications.count}
          .dropdown-menu.dropdown-content#general-notifications-dropdown
        %li.dropdown.dropdown-user
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            = image_tag(current_user.avatar.url(:thumb), alt: 'user profile')
            %span
              = current_user.first_name
            %i.caret
          %ul.dropdown-menu.dropdown-menu-right
            %li
              = link_to user_path(current_user.id) do
                %i.icon-cabinet
                Кабинет
            %li.divider
            %li
              = link_to user_settings_path(current_user.id) do
                %i.icon-cog5
                Настройки
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.icon-switch2
                Выйти
- else
  .navbar.navbar-default.navbar-fixed-top.header-highlight
    .navbar-header
      = link_to root_path, class: "navbar-brand" do
        = image_tag('logo_light', alt: "Uber CRM")
