- if current_user
  / Main navbar
  .navbar.navbar-default.navbar-fixed-top.header-highlight
    .navbar-header
      %a.navbar-brand{:href => "index.html"}
        = image_tag('logo_light', alt: "Uber CRM")
      %ul.nav.navbar-nav.pull-right.visible-xs-block
        %li
          %a{"data-target" => "#navbar-mobile", "data-toggle" => "collapse"}
            %i.icon-tree5
        %li
          %a.sidebar-mobile-main-toggle
            %i.icon-paragraph-justify3
    #navbar-mobile.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a.sidebar-control.sidebar-main-toggle.hidden-xs
            %i.icon-paragraph-justify3
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Text link
        %li
          %a{:href => "#"}
            %i.icon-cog3
            %span.visible-xs-inline-block.position-right Icon link
        %li.dropdown.dropdown-user
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            = image_tag('face11', alt: 'user profile')
            %span
              = current_user.first_name
            %i.caret
          %ul.dropdown-menu.dropdown-menu-right
            %li
              = link_to edit_user_registration_path do
                %i.icon-user-plus
                Профиль
            %li
              %a{:href => "#"}
                %i.icon-coins
                My balance
            %li
              %a{:href => "#"}
                %span.badge.badge-warning.pull-right 58
                %i.icon-comment-discussion
                Messages
            %li.divider
            %li
              %a{:href => "#"}
                %i.icon-cog5
                Account settings
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.icon-switch2
                Выйти
- else
  .navbar.navbar-default.navbar-fixed-top.header-highlight
    .navbar-header
      %a.navbar-brand{:href => "index.html"}
        = image_tag('logo_light', alt: "Uber CRM")
