/ Page container
.page-container
  / Page content
  .page-content
    / Main sidebar
    .sidebar.sidebar-main.sidebar-fixed
      .sidebar-content
        / User menu
        .sidebar-user
          .category-content
            .media
              %a.media-left{:href => "#"}
                = image_tag(current_user.avatar.url(:thumb), class: ['img-circle', 'img-sm'])
              .media-body
                %span.media-heading.text-semibold
                  #{current_user.first_name} #{current_user.last_name}
                = link_to user_path(current_user.id), class: "label label-flat border-grey-300 text-size-small text-muted" do
                  Мой кабинет
                %br
                = link_to "#{current_department.name}", '#', data: { toggle: 'modal', target: '#modal_current_department' }
        / Main navigation
        .sidebar-category.sidebar-category-visible
          .category-content.no-padding
            %ul.navigation.navigation-main.navigation-accordion
              / Main
              %li.navigation-header
                %span Меню
                %i.icon-menu{:title => "Main pages"}
              %li
                = link_to root_path do
                  %i.icon-home4
                  %span Главная
              %li
                = link_to leads_path do
                  %i.icon-user
                  %span Лиды
              %li
                = link_to contacts_path do
                  %i.icon-user-plus
                  %span Контакты
              %li
                %a{:href => "#"}
                  %i.icon-user-check
                  %span Клиенты
              / /main
        / /main navigation
    / /main sidebar
    / Main content
    .content-wrapper
      - flash.each do |key, value|
        .content
          - if key.to_s == 'alert'
            .alert.bg-danger.alert-styled-left
              %button.close{ data: { dismiss: 'alert' } }
                %span &times;
                %span.sr-only Закрыть
              %span.text-semibold
                = value
          - else
            .alert.bg-info.alert-styled-left
              %button.close{ data: { dismiss: 'alert' } }
                %span &times;
                %span.sr-only Закрыть
              %span.text-semibold
                = value
      = yield